html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #wrapper #game #board {
    width: 30em;
    margin: 0 auto; }
    #wrapper #game #board .row {
      width: 100%;
      display: table;
      width: 100%;
      table-layout: fixed; }
    #wrapper #game #board .square {
      display: table-cell;
      width: 16.66667%;
      padding: 10px;
      height: 60px; }
      #wrapper #game #board .square.white {
        background-color: #000000; }
      #wrapper #game #board .square.black {
        background-color: #ffffff; }
  #wrapper #game #Placar {
    height: 30px;
    text-align: center; }
  #wrapper #game #PlacarWhite, #wrapper #game #PlacarBlack {
    font-size: 28px;
    height: 35px;
    background: #434343; }
  #wrapper #game #PlacarWhite {
    color: #ffffff; }
  #wrapper #game #PlacarBlack {
    color: #ffffff; }
