html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }
  #wrapper #game #board {
    width: 30em;
    margin: 0 auto; }
    #wrapper #game #board .row {
      height: 60px;
      text-align: center; }
    #wrapper #game #board .square {
      float: left;
      height: 60px;
      width: 60px; }
  #wrapper #game #Placar {
    height: 30px;
    text-align: center; }
  #wrapper #game #PlacarWhite, #wrapper #game #PlacarBlack {
    font-size: 28px;
    height: 35px;
    background: #434343; }
  #wrapper #game #PlacarWhite {
    color: #ccc; }
  #wrapper #game #PlacarBlack {
    color: #000; }

.partBlack {
  color: #000000; }

.partWhite {
  color: #cccccc; }

.black span, .white span {
  text-align: center;
  font-size: 46px;
  cursor: pointer; }

.black {
  background-color: #000000;
  color: #FFFFFF; }

.white {
  background-color: #FFFFFF;
  color: #000000; }

.active {
  cursor: pointer;
  background-color: #ff00d5; }
