// @import "reset";
// @import "font";
// @import "bourbon";
// @import "neat";
// @import "menu";
// @import "type-content";
// @import "abre";
// @import "cards";
// @import "footer";

// #wrapper{
// 	@include outer-container;
// }

// .fade-in-element {
//   $base-border-color: gainsboro;
//   $base-border-radius: 3px;
//   $base-background-color: white;
//   $base-line-height: 1.5em;
//   $base-spacing: 1.5em;
//   $dark-gray: #333;
//   $base-font-color: $dark-gray;

//   @include clearfix;
//   background: $base-background-color;
//   // border: 1px solid silver;
//   // border-radius: $base-border-radius;
//   // box-shadow: 0 2px 2px transparentize(black, 0.8);
//   line-height: $base-line-height;
//   margin-bottom: 4em;
//   padding: $base-spacing;
//   text-align: center;
//   width: 100%;

//   p {
//     color: $base-font-color;
//     line-height: $base-line-height;
//   }
// }

// .js-fade-element-hide {
// 	margin-top:80px;
// 	opacity: 0;
// }

// .js-fade-element-show {
// 	margin-top:0px;
// 	opacity: 1;
// 	transition: all 0.4s ease-in-out;
// }

// .hero {
//   $large-screen: 50em;
//   align-items: center;
//   background-image: url("http://refills.bourbon.io/images/background-image.png");
//   background-position: right;
//   background-size: 100%;
//   display: flex;
//   justify-content: center;
//   min-height: 25em;
//   padding: 2em;

//   @include media($large-screen) {
//     background-position: left;
//     background-size: cover;
//     justify-content: flex-end;
//   }

//   .hero-content {
//     max-width: 20em;
//     text-align: center;

//     @include media($large-screen) {
//       text-align: left;
//     }
//   }

//   .hero-logo {
//     margin: auto;
//   }
// }

// .bullets {
//   $base-line-height: 1.5em !default;
//   $action-color: #477DCA !default;
//   $dark-gray: #333 !default;
//   $base-font-color: $dark-gray !default;
//   $icon-bullet-size: 3.5em;

//   display: flex;
//   flex-wrap: wrap;
//   margin: 1em;
//   margin-bottom: $base-line-height;
//   overflow: auto;
//   padding: 0;

//   .bullet {
//     flex-basis: 20em;
//     flex-grow: 1;
//   }

//   .bullet-icon {
//     background: $action-color;
//     border-radius: 50%;
//     float: left;
//     height: $icon-bullet-size;
//     padding: $icon-bullet-size / 4;
//     width: $icon-bullet-size;
//   }

//   .bullet-icon-1 {
//     background: $action-color;
//   }

//   .bullet-icon-2 {
//     background: adjust-hue($action-color, -50%);
//   }

//   .bullet-icon-3 {
//     background: adjust-hue($action-color, -140%);
//   }

//   .bullet-content {
//     margin-bottom: 2em;
//     margin-left: $icon-bullet-size * 1.4;
//   }

//   h2 {
//     border-bottom: 1px solid transparentize($base-font-color, 0.8);
//     display: inline-block;
//     font-size: $icon-bullet-size / 2.5;
//     margin: 0 0 ($icon-bullet-size / 6) 0;
//     padding-top: $icon-bullet-size / 7;
//   }

//   li {
//     list-style: none;
//   }

//   p {
//     color: $base-font-color;
//     line-height: $base-line-height;
//   }

//   img {
//     max-width: 100%;
//   }
// }
// .side-image {
//   $base-line-height: 1.5em !default;
//   $action-color: #477DCA !default;
//   $dark-gray: #333 !default;
//   $large-screen: 53.75em !default;
//   $base-font-color: $dark-gray !default;
//   $side-image-background-top: #B5EBEB;
//   $side-image-background-bottom: #5DAC5D;
//   $side-image-content-background: #F9F9F9;
//   $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);

//   background: $side-image-content-background;

//   @include media($large-screen) {
//     @include row(table);
//   }

//   .images-wrapper {
//     background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"),
//                 linear-gradient($side-image-background-top, $side-image-background-bottom),
//                 no-repeat $side-image-background-top scroll;
//     background-color: $side-image-background-top;
//     background-size: cover;
//     border-bottom: $side-image-border;
//     display: block;
//     min-height: 12em;
//     padding: 3em;

//     @include media($large-screen) {
//       @include span-columns(4);
//       background-position: bottom;
//       background-size: cover;
//       border-right: $side-image-border;
//     }
//   }

//   .side-image-content {
//     @include span-columns(12);
//     padding: 1em 1em 4em 1em;

//     @include media($large-screen) {
//       @include span-columns(8);
//       padding: 4em 4em 8em 4em;
//     }

//     h1 {
//       margin-bottom: 0.9em;
//     }

//     h4 {
//       background: #BBB;
//       color: white;
//       display: inline-block;
//       font-size: 0.75em;
//       margin-bottom: 1.3em;
//       padding: 3px 8px;
//       text-transform: uppercase;
//     }

//     p {
//       color: $base-font-color;
//       line-height: $base-line-height;
//       margin-bottom: 3em;
//     }
//   }

//   @include reset-display();
// }

#game{
    
    width:480px;
}
.row{
    height:60px;
    width:480px;
}

.square{
    float:left;
    height:60px;
    width:60px;
}
.partBlack{
    color:#000000;
}
.partWhite{
    color:#cccccc;
}
.black span,.white span{
    text-align:center;
    font-size:46px;
    cursor:pointer;

}
.black{
    background-color:#000000;
    color:#FFFFFF;
}
.white{
    background-color:#FFFFFF;
    color:#000000;
}
.active{
    cursor:pointer;
    background-color:red;
} 
#Placar{
    height:30px;
    text-align:center;
}
#PlacarWhite,#PlacarBlack{
    
    font-size:28px;
    height:35px;
    background:#666;
}  
#PlacarWhite{ color:#ccc;}
#PlacarBlack{ color:#000;}

